/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding: 92px 50px 96px;
}

.header_logo {
    display: block;
    justify-self: center;   
}
.header_logo img {
    display: block;
    width: 148px;
    height: 105px;
}

.header_links-list {
    display: flex;
    gap: 13px;
    justify-self: start;
    list-style: circle;
    margin: 0;
    font-size: 18px;
    
}
.header_links-list a{
    text-decoration-thickness: 1px;
}
.header_links-list-item {
    display:flex;
    align-items: center;
    padding-bottom: 3px;
}
.header_links-list-item::before {
    content: "o";
    margin-right: 12.48px;
    font-size: 0.7em;
}
.header_links-list-item-no-dot::before {
    content: none;
}
.header_links-list-item-no-dot a {
    text-decoration: none;
}

.header_address {
    display:flex;
    font-style: normal;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 24.3px;
  
}
.header_address {
    justify-self: end;
    padding: 0 18.5px 3px;
}
.info {
    max-height: 24px;
   
}
.address {
    max-height: 49px;
    max-width: 240px;
    padding-top: 1.5px;
}
.cover {
    position: relative;
    background: url("../images/cover.jpg") center/cover no-repeat;
    padding: 165px 50px 50px;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    width: 100%;
    height: 100%;
}

.cover_title,
.cover_description {
    position: relative;
    z-index: 1;
}

.cover_title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 30px;
    line-height: 1.15;
    gap: 20px;
}

.aligned-text {
    display: block;
    text-align: start;
}

.aligned-text-center {
    text-align: center;
    padding-left: 30px;
}

.aligned-text-right {
    text-align: end;
    padding-left: 614px;
}

.cover_description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    padding-top: 85px;
}

.cover_description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18.5px;
    margin-right: auto;
}

.bet-button {
    border: 1px solid #FFF;
    padding: 14px 32px;
    color: #FFF;
    font: normal 22px/1 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
}