/* место для вашего кода */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content 1fr;
    box-sizing: border-box;
    height: 293px;
    padding: 92px 50px 96px;
}


.header_links-list {
    display: flex;
    gap: 13px;
    justify-self: start;
    list-style-type: circle;
    margin: 0;
    font-size: 18px;
    
}
.header_links-list a{
    text-decoration-thickness: 1px;
}
.header_links-list-item {
    display:flex;
    align-items: center;
    padding-bottom: 3px;
}
.header_links-list-item::before {
    content: "o";
    margin-right: 12.48px;
    font-size: 0.7em;
}
.header_links-list-item-no-dot::before {
    content: none;
}
.header_links-list-item-no-dot a {
    text-decoration: none;
}

.header_logo {
    display: block;
    justify-self: center;   
}
.header_logo img {
    display: block;
    width: 138px;
    height: 106px;
}
.header_address {
    display:flex;
    font-style: normal;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 24.3px;
    justify-self: end;
    padding: 0 18.5px 3px;
}
.info {
    max-height: 24px;
}
.address {
    max-height: 49px;
    padding-top: 1.5px;
}